<% if( accountType  === "student"){ %>
    <%- include('header1'); -%>
<% }else{ %>
    <%- include('header'); -%>
<% } %>
    <div class="container">
        <h3><%= post.author %> <small> from <%= post.company %> </small></h3>
        <h1><%= post.title %></h1>
        <p><%= post.description %></p>
        <br>
        <button type="button" id="link" class="btn btn-primary" value="<%= post.link %>" onclick="redirect()" >Apply now</button>
    </div>
    <br>
    
    
        <div class="container well">
        
            <% post.comments.forEach(function(comment){ %>
                <p>
                    <strong> <%= comment.auther %> </strong> 
                    <p><%= comment.text %></p>
                </p>
           <% }) %>
        </div>
        
    
    
    <form action="/posts/:<%= post._id %>/comments" method="post">
        <div class="container">
            <textarea name="text" class="form-control" rows="3"></textarea>
            <br> <button type="submit " id="" class="btn btn-primary">Comment</button>
        </div>
    </form>
    <br>
    
    <script>
        function redirect(){
            const post_link = document.getElementById("link").value;
            location.href = post_link;
        }
    </script>

<%- include('footer'); -%>


