<%- include('header'); -%>

<style>
  form{
    margin-top: 1em;
  }
</style>

<div class="container text-center">
    <h1>POSTS</h1>
    <hr>
  </div>  
  <div class="container ">
    <% posts.forEach(function(post){ %>
      <div class="container row">
          <div class="col-sm-10">
            <h5><%= post.author %> <small> from <%= post.company %> </small>  </h5>
            <h4><%= post.title %></h4>
            <p><%= post.description.substring(0,100)+ "..." %>
            <a href="/posts/<%= post._id %>">read more</a>
            </p>
          </div>
        <div class="col-sm-2">
            <form action="/updatePost/<%= post._id %>" method="get">
                <button name="post_id" value="<%= post._id %>" class="btn btn-info" >UPDATE</button>
            </form>
            <form action="/delete" method="post">
                <button name="post_id" value="<%= post._id %>" class="btn btn-danger" >DELETE</button>
            </form>
        </div>
    </div>
      
    <hr>
     <% }); %> 
  </div>

  
<%- include('footer'); -%>